.clip {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: .8em;

  .meter {
    height: .4em;
  }

  .info {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0 var(--spacing4);

    .icon {
      margin-right: var(--spacing4);
      fill: var(--slate);
    }
  }

  &--occupied {
    background: var(--slate);
    color: rgba(white, .8);

    .info {
      .icon {
        fill: #{"rgba(var(--lightgrayRGB), .8)"};
      }
    }
  }
}
