.button {
  --buttonPadding: .3em;
  --buttonBgColor: var(--slate);
  --buttonOnBgColor: var(--brand);
  --buttonOnColor: var(--white);

  background: var(--buttonBgColor);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(black, .2);
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: .05em;
  padding: var(--buttonPadding);
  text-transform: uppercase;
  transition: all .2s;
  width: 100%;

  &--on {
    background: var(--buttonOnBgColor);
    box-shadow: inset 0 1px 2px rgba(black, .2);
    transform: translateY(1px);
    color: var(--buttonOnColor);
  }
}
