.section {
  --color: #{"rgba(var(--whiteRGB), .6)"};

  display: flex;
  align-items: center;
  padding: var(--spacing5) var(--spacing3);
  color: var(--color);
  fill: var(--color);
}
.section__item + .section__item {
  margin-left: var(--spacing3);
}


  .icon {
    height: .8em;
    width: .8em;

    &--active {
      fill: var(--brand);
    }
  }
