.button {
  --buttonPadding: .3em;
  --buttonBgColor: var(--slate);
  --buttonOnBgColor: var(--brand);
  --buttonOnColor: var(--buttonBgColor);

  background: var(--buttonBgColor);
  border-radius: 1px;
  color: rgba(white, .7);
  cursor: pointer;
  display: block;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: .05em;
  padding: var(--buttonPadding);
  text-transform: uppercase;
  transition: all .2s;
  width: 100%;

  &--on {
    background: var(--buttonOnBgColor);
    transform: translateY(1px);
    color: var(--buttonOnColor);
  }
}
