.channel {
  --channelBgColor: var(--gray);

  background: var(--channelBgColor);
  color: #{"rgba(var(--whiteRGB), .5)"};
  font-size: .7em;
  height: 100%;
  overflow: auto;
  padding: var(--spacing4);
  width: 100%;
  display: grid;
  grid-column-gap: var(--spacing4);
  grid: "control meters" auto
        / auto auto;

  .control {
    grid-area: control;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 5em;

    .control__item + .control__item {
      margin-top: var(--spacing5);
    }

    .end {
      margin-top: auto;
    }
  }

  .meters {
    max-width: 1.8em;
    grid-area: meters;
  }
}
