.transport {
  --color: #{"rgba(var(--whiteRGB), .6)"};

  display: flex;
  align-items: center;
  padding: var(--spacing5);
  color: var(--color);
  fill: var(--color);

  .icon {
    height: .7em;
    width: .7em;
  }
  .transport__item + .transport__item {
    margin-left: var(--spacing3);
  }
}
