.channel {
  --channelBgColor: #{"rgba(var(--slateRGB), .8)"};

  width: 100%;
  height: 100%;
  background: var(--channelBgColor);
  display: grid;
  grid: "control meters" auto
        / auto auto;
  color: #{"rgba(var(--whiteRGB), .7)"};
  font-size: .8em;

  .control {
    grid-area: control;
    padding: var(--spacing5);
    text-align: center;
    display: flex;
    flex-direction: column;

    .knob {
      width: 50%;
      margin: 0 auto;
    }

    .switch + .switch {
      margin-top: var(--spacing5);
    }

    .end {
      margin-top: auto;
    }
  }

  .meters {
    grid-area: meters;
    padding: var(--spacing5);

    .meter {
      width: 8px;
    }
    .meter + .meter {
      margin-left: 4px;
    }
  }
}
