.meter {
  --meterMainColor: var(--green, black);
  --meterSecondaryColor: #{"rgba(var(--greenRGB), .3)"};
  --meterBackgroundColor: var(--slate, gray);
  --meterPeakColor: var(--green);

  border-radius: 1px;

  .background {
    fill: var(--meterBackgroundColor);
  }

  .secondary {
    fill: var(--meterSecondaryColor);
    transition: all .1s;
  }

  .main {
    fill: var(--meterMainColor);
    transition: all .1s;
  }

  .peak {
    fill: var(--meterPeakColor);
    transition: all .1s;
  }
}
